.css-1ndpvdd-MuiTableCell-root{
    font-weight: 700 !important;
    border-bottom: 1px solid #000 !important;
}

.css-hbtnrh-MuiTableCell-root{
    border-bottom: 1px solid #000 !important;
}

.css-1ygcj2i-MuiTableCell-root{
    font-weight: 700 !important;
    border-bottom: 1px solid #000 !important;
}